# Dependências
node_modules/
dist/
build/

# Caches globais e locais
.turbo/
.eslintcache
.npm/

# Next.js (Web)
apps/web/.next/
apps/web/out/

# Expo / React Native (Mobile)
apps/mobile/.expo/
apps/mobile/*.apk
apps/mobile/*.aab

# Logs
*.log
npm-debug.log*

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Variáveis de ambiente e segredos (Segurança!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local